  <h1>Bienvenido a IniciaSesión!</h1>
  <p>Este es una web con iniciar seción por el usuario.</p><br>
  <% if @bulean %>
  <p style="color:green">Usuario registrado</p>
  <% @bulean = false %>
  <%end %>
   <% if @bulean2 %>
  <p style="color:red">Logout Efectuado</p>
  <% @bulean2 = false %>
  <%end %>
  <%= @error_message %>
  <p style="color:blue">Regístrate!</p>
  <form action="/register" method="get">
    <input type="text" name="name" value="Coloca tu nombre"><br>
    <input type="text" name="email" value="Coloca tu email"><br>
    <input type="password" name="password" ><br>
    <input type="submit" value="Register"><br>
  </form>
  <p style="color:blue">Inicia Sesión</p>
  <form action="/login" method="post">
    <input type="text" name="email" value="Email"><br>
    <input type="password" name="password" ><br>
    <input type="submit" value="Login"><br>
  </form>

  
